
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="../Content/StyleSheet1.css" />
    <title>Display Queue</title>
</head>
<body class="center textcenter">
    @foreach (var sData in ViewBag.MyQueue)
    {
        <p>@sData</p>
    }

    <div class="mainmenu">
        <a href="@Url.Action("ReturnAgain", "Queue")">Return to Queue Page</a>
    </div>

</body>
</html>
